---
import Layout from "../../../layouts/Layout.astro";
import Video from "../../../components/Video.astro";
---

<Layout title="Acts - Spokane Bible Church">
    <main>
        <h1>The Book of <span class="text-emph">Acts</span></h1>
        <br /><br />

        <h2>Videos</h2>
        <ul>
            <Video title="Acts 01: Introduction, Background, and Argument" url="https://www.youtube.com/watch?v=rwFsb3r0iHc" />
            <Video title="Acts 02: The Foundation of the Church (Acts 1:1-26)" url="https://www.youtube.com/watch?v=rKxULtZi2vU" />
            <Video title="Acts 03: The Beginning of the Church (Acts 2:1-47)" url="https://www.youtube.com/watch?v=N5kIfwAB_8w" />
            <Video title="Acts 04: The Healing of the Lame Man and Opposition from the Temple (Acts 3:1-4:4)" url="https://www.youtube.com/watch?v=i_1clNwpELE" />
            <Video title="Acts 05: The Growing Confidence of the Church (Acts 4:5-32)" url="https://www.youtube.com/watch?v=ehy6HWH5L7k" />
            <Video title="Acts 06: The Great Fear of the Church (Acts 4:32-5:11)" url="https://www.youtube.com/watch?v=Zo8Ut8A5YDM" />
            <Video title="Acts 07: Gamaliel’s Wise Advice (Acts 5:12-42)" url="https://www.youtube.com/watch?v=vnfy8YthWRc" />
            <Video title="Acts 08: Stephen’s Ability with Scripture (Acts 6:1-15)" url="https://www.youtube.com/watch?v=ErELuTFXqfY" />
            <Video title="Acts 09: Stephen’s Defense (Acts 7:1-8:1a)" url="https://www.youtube.com/watch?v=ERD9APRzQi8" />
            <Video title="Acts 10: Simon the Magician (Acts 8:1b-24)" url="https://www.youtube.com/watch?v=qHKn4HjfMAc" />
            <Video title="Acts 11: The Ethiopian Eunuch (Acts 8:25-40)" url="https://www.youtube.com/watch?v=bEOr6HABR9k" />
            <Video title="Acts 12: Saul’s Conversion and Preaching of Jesus (Acts 9:1-31)" url="https://www.youtube.com/watch?v=zOv66cYUlLU" />
            <Video title="Acts 13: Gentile Salvation without Circumcision (Acts 9:32-10:48)" url="https://www.youtube.com/watch?v=6lxeAyiyPn0" />
            <Video title="Acts 14: Cornelius’ House and Peter’s Defense (Acts 10:24-11:18)" url="https://www.youtube.com/watch?v=piY-unmQ_cE" />
            <Video title="Acts 15: Paul Surfaces, Antioch, and Persecution (Acts 11:18-12:25)" url="https://www.youtube.com/watch?v=m12wLQvcZTs" />
            <Video title="Acts 16: First Missionary Journey: Cyprus and Galatia (Acts 13:1-52)" url="https://www.youtube.com/watch?v=d8Fi2rCyZBE" />
            <Video title="Acts 17: The First Missionary Journey: Iconium, Lystra, Derbe (Acts 14:1-28)" url="https://www.youtube.com/watch?v=1ZpiC1gMQVg" />
        </ul>

        <br />
        <h2>Documents</h2>
        <ul>
            <Video title="Acts Background, Introduction, and Argument" url="https://raw.githubusercontent.com/Kyllingene/sbc-astro/master/docs/Acts-Introduction-Background-Argument.pdf"></Video>
        </ul>
    </main>
</Layout>