---
import Layout from "../../../layouts/Layout.astro";
import Video from "../../../components/Video.astro";
---

<!-- TODO: use the ^^^above^^^ section to fetch videos, maybe? -->

<Layout title="Matthew - Spokane Bible Church">
    <main>
        <h1>The Book of <span class="text-emph">Matthew</span></h1>
        <br /><br />

        <ul>
            <Video url="https://www.youtube.com/watch?v=oNn09rgQB4Q" title="Matthew 1, The Geneology of the King" />
            <Video url="https://www.youtube.com/watch?v=xaArcV_VM18" title="Birth Narratives, Matthew 1:1-25 and Luke 1:26-38" />
            <Video url="https://www.youtube.com/watch?v=Vk9i-R-mAsQ" title="Matthew 11:1-5" />
        </ul>
    </main>
</Layout>