---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro'
---

<Layout title="Page Not Found - Spokane Bible Church">
    <main>
        <h1 class="text-emph"><b>I'm sorry, that page couldn't be found.</b></h1>
        <h3>It might not exist yet. Contact us!</h3>
        <br /><br />
        <h2><Link wnew={false} href="/sbc-astro/">Home</Link></h2>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
        font-weight: 500;
        margin: 0;
    }
    .text-emph {
        color: var(--emphasis);
        -webkit-background-clip: text;
        background-size: 400%;
        background-position: 0%;
    }
	.nav li {
		display: inline-block;
		list-style-type: none;
		margin-right: 1em;
	}
</style>