---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro'
---

<Layout title="Spokane Bible Church">
	<main>
        <h1>Welcome to <br><span class="text-emph">Spokane Bible Church</span></h1>
        <h3>
            A Local <b>Grace-Oriented, Bible Teaching, Dispensational,<br />
            Independent, Evangelical Christian, Nondenominational Church</b>
        </h3>
		<br />

        <div class="information">
			<h2>Local Weekly Worship Services:</h2>
			
			<table>
				<tbody>
					<tr>
						<tr><th>Sunday School</th><td><span class="time">9:30 am</span></td></tr>

						<tr><th>Sunday Service</th><td><span class="time">10:45 am</span></td></tr>

						<tr><th>Wednesday Bible Study</th><td><span class="time">7:00 pm</span></td></tr>
					</tr>
				</tbody>
			</table>
			<br />

            <h2>Come Visit Us!</h2>
			<div class="location">
				<Link wnew={true} href="https://maps.google.com/maps?ll=47.743965,-117.454475&z=14&t=m&hl=en&gl=US&mapclient=embed&cid=13561713776835168824">
					9419 N Five Mile Rd,<br />	
					Spokane, WA. 99208
				</Link>
			</div>
        </div>

		<br />
    </main>
</Layout>

<style>
	table {
		width: 75%;
	}
	th {
		text-align: right;
	}
	td {
		text-align: center;
	}
    .time {
        color: var(--emphasis);
        background-size: 400%;
        background-position: 0%;
		display: inline-block;
        font-weight: bold;
		padding-left: 2em;
    }
    .information {
        line-height: 1.6;
        margin: 1rem 0;
        border: 2px solid rgba(var(--accent), 5%);
        background-color: #131516;
        padding: 1rem;
		padding-top: 0rem;
        border-radius: 0.25rem;
    }
	.information h2 {
		text-align: center;
	}
	.location {
		text-align: center;
		font-size: large;
		font-weight: bolder;
	}
</style>